<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <title>Dojos & Ninjas</title>
</head>
<body>
    <form action="/show1" method="post">
        <h2>Add a Dojo</h2>    
    {% csrf_token %}
    Name: <input type="text" name="name"><br>
    City: <input type="text" name="city"><br>
    state: <input type="text" name="state"><br>
    <input type="submit" value="add">
    </form>
    <form action="/show2" method="post">
    <h2>Add a Ninja</h2>    
    {% csrf_token %}
    First Name <input type="text" name="first_name"><br>
    Last Name<input type="text" name="last_name"><br>
    <label for="dojo">Dojo</label>
    <select name="dojo" value="{{dojo.name}}">
        {% for dojo in alldojos %}
        <option value="{{dojo.id}}"> {{dojo.name}}</option>
        {% endfor %} 
    </select><br>
    <input type="submit" value="add">
    </form>
    <h1>All the Dojos</h1>
    {% for dojo in alldojos %}
    <p>Ninjas at the {{dojo.name}} Dojo</p>
    <ul>
        {% for ninja in dojo.ninjas.all %}
        <li>{{ninja.first_name}} {{ninja.last_name}}</li>
        {% endfor %}
    </ul>
    {% endfor %}

</body>
</html>


