<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <title>Document</title>
    
</head>
<body>
    <h3><u> Submitted Info :</u></h3>
    <p>Your Name: {{ username}}</p>
    <p>Dojo Location: {{ location }}</p>
    <p>Favorite language: {{ language}}</p>
    <p>Comment: {{ message}}</p>
    <button class="submit">Go Back</button>
</body>
</html>