<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    
<h3><u> Submitted Info :</u></h3>
    <p>Your Name: {{ name_on_template }}</p>
    <p>Dojo Location: {{ location_on_template }}</p>
    <p>Favorite language: {{ language_on_template }}</p>
    <p>Comment: {{ message_on_template }}</p>
    <button class="submit">Go Back</button>

</body>
</html>


