<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
</head>
<body>
    <h1>Registration</h1>
    First Name: <input type="text" name="first_name" value="first_name">
    Last Name: <input type="text" name="last_name" value="last_name">
    Email: <input type="email" name="email" value="email">
    Password: <input type="text" name="password" value="password">
    Confirm PW: <input type="text" name="pw" value="pw">
    <input type="submit" >
</body>
</html>