<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
    </ul>
    {% endif %}
    <a href="/shows">Go Back</a>
    <form action="/shows/{{edit.id}}/editme" method="post">
    {%csrf_token%}
    <h1>Edit Show {{edit.id}} </h1> <input type="text" value="{{edit.id}}">
    <h3>Title: </h3> <input type="text" value="{{edit.title}}" name="title">
    <h3>Network: </h3> <input type="text" value="{{edit.network}}" name="network">
    <h3>Release Date: </h3> <input type="date" value="{{edit.releasedate}}" name="releasedate">
    <h3>Descritption: </h3>  <input type="text" value="{{edit.description}}" name="description">
    <h3>Update</h3> <input type="submit" value="Update">
    </form>
    <a href="/shows/{{edit.id}}">Go to Show</a>
</body>
</html>