<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/shows">Go Back</a>
    <h1>TV Show {{showdata.id}}</h1>
        <p>Title: {{showdata.title}}</p>
        <p>Network: {{showdata.network}}</p>
        <p>Release Date: {{showdata.releasedate}}</p>
        <p>Descritption: {{showdata.description}}</p>
        <a href="/shows/{{showdata.id}}/delete">Delete</a>
        <a href="/shows/{{showdata.id}}/edit">Edit</a>

</body>
</html>