<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .space{
        margin-left: 20px;

    }
</style>
<body>
    <h1>Welcome {{request.session.first_name}}</h1>
    <div style="display:flex; justify-content:space-between;">
        <h2>Codingdojo Wall</h2>
        <div>
            <div style="display:flex; justify-content:space-around;">
            <p>Welcome {{request.session.first_name}}</p>
            <a href="/logoff" >log off</a>
            </div>
        </div>
    </div>
    <form action="/addpost" method="post">
    {%csrf_token%}
        <label for="message">Post a Message</label> <br>
        <textarea name="message" cols="60" rows="3" placeholder="Post a message" required></textarea> <br>
        <input type="submit" value="Post a message"  style="background-color:blue; color:white ;">
    </form>
    {%for message in allmessages%}
    <h3>{{message.user.first_name}} {{message.user.last_name}}-{{message.created_at}}</h3>
    <p class="space">{{message.message}}</p>
    {%for comment in message.comment_message.all%}
    <h4 class="space">{{comment.user.first_name}}{{message.user.last_name}}-{{message.created_at}}</h4>
    <p class="space">{{comment.comment}}</p>
    {%endfor%}
    <form action="/addcomment/{{message.id}}" method="post">
        {%csrf_token%}
        <input type="hidden" name="message_id" value="{{message.id}}" method="post">
        <textarea name="comment" cols="40" rows="2" placeholder="Post a comment" required></textarea> <br>
        <input type="submit" value="Post a comment" style="background-color:green; color:white ;">
    </form>
    <hr>
    {%endfor%}
</body>
</html>